services:
  mirr-web-server:
    container_name: mirr-server
    image: "mirr"
    depends_on:
      - mirr-record-database
    env_file:
      - .env
    restart: always
    environment:
      - SPRING_DATASOURCE_URL=${DATASOURCE_URL}
      - SPRING_DATASOURCE_USERNAME=${DATASOURCE_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${DATASOURCE_PASSWORD}
      - SPRING_PROFILES_ACTIVE=${PROFILES_ACTIVE}
    ports:
      - 8080:8080

  mirr-record-database:
    container_name: mirr-database
    build:
      dockerfile: Dockerfile
      context: ./database
    image: jihoon0413/mirr-database
    env_file:
      - .env
    environment:
      - MARIADB_DATABASE=${DATABASE_NAME}
      - MARIADB_ROOT_PASSWORD=${DATASOURCE_PASSWORD}
    volumes:
      - ./database/config:/etc/mysql/conf.d
    ports:
      - "3306:3306"

  prometheus:
    image: quay.io/prometheus/prometheus:v2.52.0
    container_name: prometheus
    ports:
      - 9090:9090
    volumes:
      - ./observability/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana-oss:10.4.3
    container_name: grafana
    depends_on:
      - prometheus
    ports:
      - 3000:3000
    volumes:
      - ./observability/grafana/provisioning:/etc/grafana/provisioning

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: always
    ports:
      - 9100:9100
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--path.rootfs=/host'
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/host:ro

  mysql-exporter:
    image: prom/mysqld-exporter:latest
    container_name: mysql-exporter
    depends_on:
      - mirr-record-database
    env_file:
      - .env
    command:
      - "--mysqld.username=${DATASOURCE_USERNAME}:${DATASOURCE_PASSWORD}"
      - "--mysqld.address=${DATASOURCE_ADDRESS}"
    ports:
      - 9104:9104

  k6:
    image: grafana/k6
    container_name: k6
    depends_on:
      - mirr-web-server
    volumes:
      - ./k6:/scripts
    entrypoint: [ "k6", "run", "--out", "influxdb=http://influxdb:8086/k6", "/scripts/scenario-record-flow.js"]

  influxdb:
    image: influxdb:1.8
    container_name: influxdb
    environment:
      - INFLUXDB_DB=k6
    ports:
      - "8086:8086"