spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE}
    group:
      local:
        - common
      prod:
        - common
      staging:
        - common

---

spring:
  config:
    activate:
      on-profile: common
    import: optional:file:.env[.properties]
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false
management:
  endpoints:
    web:
      exposure:
        include: prometheus
---
