<html xmlns:th="http://www.thymeleaf.org">

    <header th:fragment="headerFragment" class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img th:src="@{/img/tempLogo.jpg}" width="40" height="32" role="img"/>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                    <li><a href="/score" class="nav-link px-2 text-white">Score</a></li>
                    <li><a href="/assist" class="nav-link px-2 text-white">Assist</a></li>
                    <li><a href="/attend" class="nav-link px-2 text-white">Attend</a></li>
                    <li><a href="/mom" class="nav-link px-2 text-white">M.O.M</a></li>
                    <li><a href="/players" class="nav-link px-2 text-white">Players</a></li>
                </ul>

                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Sign-up</button>
                </div>
            </div>
        </div>
    </header>
    <div class="b-example-divider"></div>
</html>