<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div th:fragment="newPlayerModal">
    <div class="modal" id="newPlayerModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">선수 추가</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/players/newPlayer}" th:object="${playerDTO}" method="post">
                        <div class="mb-3">
                            <label class="form-label">이름</label>
                            <input type="text" class="form-control" th:field="*{name}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">포지션</label>
                            <select class="form-control select2" th:field="*{pos}" style="width: 100%;" required>
                                <option value="">선택하세요</option>
                                <option type="text" id="position" th:each="pos : ${positions}"
                                        th:value="${pos}"
                                        th:text="${pos}">
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">등번호</label>
                            <input type="text" class="form-control" th:field="*{backNum}" required>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">저장</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
