<nav style="text-align: center" th:fragment="pageNavBar (rankList, maxPage)" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="pagination" th:with="start=${(rankList.number/maxPage)*maxPage + 1}, end=(${(rankList.totalPages == 0) ? 1 : (start + (maxPage - 1) < rankList.totalPages ? start + (maxPage - 1) : rankList.totalPages)})">
        <li class="page-item" th:if="${start > 1}"><a class="page-link" th:href="@{/assist(page=0)}" th:text="'<<'"></a></li>
        <li class="page-item" th:if="${start > 1}"><a class="page-link" th:href="@{/assist(page=${start - 2})}" th:text="Previous"></a></li>
        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
            th:classappend="${page - 1} == ${rankList.number} ? 'active'">
            <a class="page-link" th:text="${page}" th:href="@{/assist(page=${page - 1})}"></a>
        </li>
        <li class="page-item" th:if="${end < rankList.totalPages}"><a class="page-link" th:href="@{/assist(page=${start + maxPage -1})}" th:text="Next"></a></li>
        <li class="page-item" th:if="${end < rankList.totalPages}"><a class="page-link" th:href="@{/assist(page=${rankList.totalPages - 1})}" th:text="'>>'"></a></li>
    </ul>
<!--    <script th:inline="javascript">-->
<!--        let rankListNumber = [[${rankList.number}]];-->
<!--        let rankListTotalPages = [[${rankList.totalPages}]];-->
<!--        let start = [[${(rankList.number/maxPage)*maxPage + 1}]];-->
<!--        let end = [[${end}]];-->
<!--        let maxPage = [[${maxPage}]];-->
<!--        console.log('rankList.number:', rankListNumber);-->
<!--        console.log('rankList.totalPages:', rankListTotalPages);-->
<!--        console.log('start:', start);-->
<!--        console.log('end:', end);-->
<!--        console.log('maxPage:', maxPage);-->

<!--    </script>-->
</nav>

