<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div th:fragment="playerDetailModal">
    <div class="modal" id="playerDetailModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">선수 정보</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="modifyPlayerForm" action="/players" th:object="${playerDTO}" method="put">
                        <div class="mb-3">
                            <label for="playerId" class="form-label" hidden>플레이어 아이디</label>
                            <input type="text" class="form-control" id="playerId" th:field="*{id}" readonly hidden>
                        </div>
                        <div class="mb-3">
                            <label for="playerName" class="form-label">이름</label>
                            <input type="text" class="form-control" id="playerName" th:field="*{name}">
                        </div>
                        <div class="mb-3">
                            <label for="pos2" class="form-label">포지션</label>
                            <select id="pos2" class="form-control select2" th:field="*{pos}" style="width: 100%;" required>
                                <option value="">선택하세요</option>
                                <option th:each="pos : ${positions}"
                                        th:value="${pos}"
                                        th:text="${pos}">
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="backNumber" class="form-label">등번호</label>
                            <input type="text" class="form-control" id="backNumber" th:field="*{backNum}" required>
                        </div>


                        <div class="mb-3">
                            <label for="scoreRank" class="form-label">득점 랭킹</label>
                            <input type="text" class="form-control" id="scoreRank" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="assistRank" class="form-label">어시스트 랭킹</label>
                            <input type="text" class="form-control" id="assistRank" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="attendRank" class="form-label">참석 랭킹</label>
                            <input type="text" class="form-control" id="attendRank" readonly>
                        </div>




                        <div class="modal-footer d-flex justify-content-between">
                            <div>
                                <button type="button" id="delete_player" class="btn btn-danger" data-player-id="">삭제</button>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">저장</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
