<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}"
      layout:fragment="content">

<head>
  <meta charset='utf-8' />
</head>
<body>
<div class="container pt-4">
  <button id="listBtn">참석 랭킹</button>
  <br><br>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>RANK</th>
      <th>NAME</th>
      <th>BACKNUM</th>
      <th>POSITION</th>
      <th>COUNT</th>
    </tr>
    </thead>
    <tbody th:fragment="gameTableFragment" id="gameTbody">
    <tr th:each="attend, iterStat : ${rankList}">
      <td th:text="${attend.rank}"></td>
      <td th:text="${attend.playerDto.name}"></td>
      <td th:text="${attend.playerDto.backNum}"></td>
      <td th:text="${attend.playerDto.pos}"></td>
      <td th:text="${attend.count}"></td>
    </tr>
    </tbody>
  </table>
  <nav th:replace="~{fragments/pagination::pageNavBar(${rankList}, ${maxPage}, 'attend')}"></nav>
</div>
</body>
</html>