<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}"
      layout:fragment="content">

    <head>
        <meta charset='utf-8' />
        <!-- select2 -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/i18n/ko.js"></script>
    </head>
    <body>
    <div th:replace="~{fragments/modifyQuarterModal :: modifyQuarterModal}"></div>
    <div th:replace="~{fragments/newQuarterModal :: newQuarterModal}"></div>
    <div th:replace="~{fragments/modifyMomModal :: modifyMomModal}"></div>
    <div th:replace="~{fragments/newAttendModal :: newAttendModal}"></div>
    <div class="container pt-4">
        <button>상세 기록 보기</button>
        <br><br>
        <table id="quarterTable" class="table table-bordered">
            <thead>
            <tr>
                <th>Quarter</th>
                <th>Opponent</th>
                <th>Point</th>
                <th>LostPoint</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="quarter:${gameDetailList}">
                <td th:text="${quarter.quarterNum}"></td>
                <td th:text="${quarter.opponent}"></td>
                <td th:text="${quarter.point}"></td>
                <td th:text="${quarter.losePoint}"></td>
                <td>
                    <button type="submit" class="btn btn-primary" th:value="${quarter.id}" th:id="btn_quarter_update">수정</button>
<!--                    <a th:href="@{/point/detail/{id}(id=${quarter.id})}" class="btn btn-info">득점자 기록</a>-->
                    <a th:href="|/point/detail?quarterId=${quarter.id}&gameId=${gameId}|" class="btn btn-info">득점자 기록</a>
                </td>
                <td><button type="submit" class="btn btn-warning" th:value="${quarter.id}" th:id="btn_quarter_delete">삭제</button></td>
            </tr>
            </tbody>
        </table>

        <div class="buttons">
            <button type="submit" class="btn btn-success" th:value="${gameId}" id="btn_newQuarter">쿼터 추가</button>
            <button type="submit" class="btn btn-danger" th:value="${gameId}" id="btn_delete">게임 삭제</button>
        </div>
        <br><br>
        <b>M.O.M : </b>
        <label th:each="mom : ${moms}">
            <b>*</b>
            <label th:text="${mom.name}"></label>
            <label type="hidden">  </label>
        </label>
        <button type="submit" class="btn btn-success" th:value="${gameId}" id="btn_modifyMom">수정</button>
        <br><br>
        <b>Attend </b><br>
        <div class="player-container">
            <div class="player-item" th:each="attend : ${attends}">
                <span class="player-name" th:text="${attend.playerDto.name}">고준민</span>
                <button class="remove-btn" th:value="${attend.id}" id="btn_deleteAttend">x</button>
            </div>
        </div>
        <br>
        <div class="buttons">
        <button type="submit" class="btn btn-success" th:value="${gameId}" id="btn_addAttend">참석자 추가</button>
        </div>
    </div>
    <script th:inline="javascript">


        // 쿼터 추가 모달
        $(function(){
            $("#btn_newQuarter").click(function(){

                var gameId = document.getElementById('btn_newQuarter').value;
                var rowCount = $('#quarterTable tr').length;
                console.log('쿼터 개수:', rowCount);

                document.getElementById('gameId').value = gameId;
                document.getElementById('index').value = rowCount;

                var myModal = new bootstrap.Modal(document.getElementById('newQuarterModal'));
                myModal.show();
            });
        });

        //쿼터 추가
         $(function() {
            postRequest('#newQuarterForm', () => ({
                gameId : $('#gameId').val(),
                quarterNum : $('#index').val(),
                opponent : $('#newOpponent').val(),
                point : $('#newPoint').val(),
                losePoint : $('#newLosePoint').val()
            }));
        });


        // 게임삭제 모든 쿼터 삭제
        $(function(){
            $("#btn_delete").click(function(){
                if(!confirm('삭제하시면 복구할수 없습니다. \n 정말로 삭제하시겠습니까??')){
                    return false;
                }
                var gameId = document.getElementById('btn_delete').value;
                console.log('게임 아이디 :', gameId);
                $.ajax({
                    type:"delete",
                    url:'/game/' + gameId,
                    success: function(response) {
                        window.location.href = '/';
                    },
                    error: function(xhr, status, error) {
                        console.error("Error:", error);
                    }
                });
            });
        });

        //쿼터 수정 모달
        document.addEventListener('DOMContentLoaded', function () {
            $(function(){
                $(document).on('click', '.btn-primary', function(){
                    var quarterId = $(this).val();
                    console.log('쿼터 수정 게임 아이디:', quarterId);

                    $.ajax({
                        type:"get",
                        url:'/quarter/' + quarterId,
                        success: function(response) {

                            const data = response.result;

                            console.log('쿼터 정보:', response);
                            document.getElementById('quarterId').value = quarterId;
                            document.getElementById('quarterNum').value = data.quarterNum;
                            document.getElementById('opponent').value = data.opponent;
                            document.getElementById('point').value = data.point;
                            document.getElementById('losePoint').value = data.losePoint;

                            var myModal = new bootstrap.Modal(document.getElementById('modifyQuarterModal'));
                            myModal.show();
                        },
                        error: function(xhr, status, error) {
                            console.error("Error:", error);
                        }
                    });
                });
            });
        });

        //쿼터 수정
        $(function() {
            putRequest('#modifyQuarterForm', ()=>({
                id : $('#quarterId').val(),
                quarterNum : $('#quarterNum').val(),
                opponent : $('#opponent').val(),
                point : $('#point').val(),
                losePoint : $('#losePoint').val()
            }));
        });



        //쿼터 삭제
        $(function(){
            $(document).on('click', '.btn-warning', function(){
                if(!confirm('삭제하시면 복구할수 없습니다. \n 정말로 삭제하시겠습니까??')){
                    return false;
                }
                var quarterId = $(this).val();
                console.log('쿼터 수정 게임 아이디:', quarterId);
                $.ajax({
                    type:"delete",
                    url:'/quarter/' + quarterId,
                    success: function() {
                        location.reload();
                    }
                });
            });
        });

        //mom 수정 모달
        $(function(){
            $("#btn_modifyMom").click(function(){

                var gameId = document.getElementById('btn_modifyMom').value;
                var momsData = /*[[${moms}]]*/ [];

                $.ajax({
                    type:"get",
                    url:'/players/findAll',
                    success: function(data) {

                        document.getElementById('momGameId').value = gameId;
                        console.log('게임 아이디 :', gameId);

                        var select = document.getElementById('momPlayerId');

                        select.innerHTML = '';

                        data.result.forEach(function(player) {
                            var option = document.createElement('option');
                            option.value = player.id;  // 플레이어 ID
                            option.textContent = player.name;  // 플레이어 이름
                            select.appendChild(option);
                        });

                        var selectedValues = momsData.map(function(mom) {
                            return mom.id;
                        });

                        $('#momPlayerId').val(selectedValues).trigger('change');

                        var myModal = new bootstrap.Modal(document.getElementById('modifyMomModal'));
                        myModal.show();
                    }
                });
            });
        });

        // MOM 수정
        $(function() {
            postRequest('#modifyMomFrom', () => ({
                gameId : $('#momGameId').val(),
                playerId : $('#momPlayerId').val()
            }));
        });


        // 참석자 추가 모달
        $(function(){
            $("#btn_addAttend").click(function(){

                var gameId = document.getElementById('btn_addAttend').value;

                $.ajax({
                    type:"get",
                    url:'/players/findAll',
                    success: function(data) {

                        document.getElementById('attendGameId').value = gameId;

                        var select = document.getElementById('attendPlayerId');

                        select.innerHTML = '';

                        data.result.forEach(function(player) {
                            var option = document.createElement('option');
                            option.value = player.id;  // 플레이어 ID
                            option.textContent = player.name;  // 플레이어 이름
                            select.appendChild(option);
                        });

                        var myModal = new bootstrap.Modal(document.getElementById('newAttendModal'));
                        myModal.show();
                    }
                });
            });
        });

        // 참석자 추가
        $(function() {
            postRequest('#newAttendForm', () => ({
                gameId : $('#attendGameId').val(),
                playerId : $('#attendPlayerId').val()
            }));
        });


        //attend 삭제
        $(function(){
            $(document).on('click', '.remove-btn', function(){

                if(!confirm('삭제하시면 복구할수 없습니다. \n 정말로 삭제하시겠습니까??')){
                    return false;
                }
                var attendId = $(this).val();
                console.log('삭제아이디 : ' + attendId);
                $.ajax({
                    type:"delete",
                    url:'/attend/' + attendId,
                    success: function() {
                        location.reload();
                    }
                });
            });
        });

        function postRequest(formId, bodyBuilder) {

            $(document).off('submit', formId).on('submit', formId, function(e) {
                e.preventDefault();

                var form = $(this);
                var formData = JSON.stringify(bodyBuilder());

                $.ajax({
                    type: 'post',
                    url: form.attr('action'),
                    data: formData,
                    contentType: 'application/json; charset=UTF-8',
                    beforeSend: function(xhr) {
                        var csrfToken = $('meta[name="_csrf"]').attr('content');
                        var csrfHeader = $('meta[name="_csrf_header"]').attr('content');
                        if (csrfHeader && csrfToken) {
                            xhr.setRequestHeader(csrfHeader, csrfToken);
                        }
                    },
                    success: function(response) {
                        // alert("저장 완료!"); // 필요하면 사용
                        $('#playerDetailModal').modal('hide');
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        alert("저장 실패: " + error);
                    }
                });
            });
        }

        function putRequest(formId, bodyBuilder) {

            $(document).off('submit', formId).on('submit', formId, function(e) {
                e.preventDefault();

                var form = $(this);
                var formData = JSON.stringify(bodyBuilder());

                $.ajax({
                    type: 'put',
                    url: form.attr('action'),
                    data: formData,
                    contentType: 'application/json; charset=UTF-8',
                    beforeSend: function(xhr) {
                        var csrfToken = $('meta[name="_csrf"]').attr('content');
                        var csrfHeader = $('meta[name="_csrf_header"]').attr('content');
                        if (csrfHeader && csrfToken) {
                            xhr.setRequestHeader(csrfHeader, csrfToken);
                        }
                    },
                    success: function(response) {
                        // alert("저장 완료!"); // 필요하면 사용
                        $('#playerDetailModal').modal('hide');
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        alert("저장 실패: " + error);
                    }
                });
            });
        }

        //select2 검색기능
        $(document).ready(function(){
            $('#momPlayerId').select2({
                dropdownParent: $('#modifyMomModal')
            });
        });

        //select2 검색기능
        $(document).ready(function(){
            $('#attendPlayerId').select2({
                dropdownParent: $('#newAttendModal')
            });
        });

    </script>

    <style>
        .buttons {
            text-align: right;
        }

        .player-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        .player-item {
            display: flex;
            align-items: center;
            background-color: #e0e0e0;
            border-radius: 15px;
            padding: 5px 10px;
            font-size: 14px;
        }

        .player-name {
            margin-right: 5px;
        }

        .remove-btn {
            background-color: #ff4d4d;
            border: none;
            border-radius: 50%;
            color: white;
            font-size: 12px;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        .remove-btn:hover {
            background-color: #ff1a1a;
        }
    </style>

    </body>
</html>